---

---

<!DOCTYPE html>
<html lang="en">

{% include header.html %}

	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">

{% include navigation.html %}

			<!--StoryAgent Content Area-->
			<ul>
			  {% for post in site.posts %}
			    <li>
			      <a href="{{ post.url }}">{{ post.title }}</a>
			    </li>
			  {% endfor %}
			</ul>
			<!--StoryAgent Content Area-->

{% include footer.html %}

		</div>
<!--Page Wrapper End-->

{% include script.html %}

	</body>
</html>
