---

---

<!DOCTYPE html>
<html lang="en">

{% include header.html %}

	<body>
		<!--Page Wrapper Start-->
		<div id="wrapper">

{% include navigation.html %}

			<!--StoryAgent Content Area-->
			<div id="content">
				<!--StoryAgent Banner -->
				<div class="banner--homepage">
					<img src="assets/images/banner--homepage.png" alt="Banner" />
				</div>
				<!--StoryAgent Banner -->

{% include scroll.html %}

				<!--StoryAgent Content One-->
				<section class="welcome" id="scroll1">
					<div class="container">
						<div class="row">
							<div class="col-xs-4">
								<img src="assets/images/venn.png" />
							</div>
							<div class="col-xs-8">
								<h2>My name is Parveen and welcome to my abode.</h2>
								<p>Ever since I was a boy, I was a lover of stories. So much so that to this day I focus on it for my work and personal lives. I spend my days as a design leader who loves to bring a unique perspective to work everyday in the mecca of technology.</p>
							</div>
						</div>
					</div>
				</section>
				<!--StoryAgent Content One-->

				<!--StoryAgent Content Three-->
				<section class="container-grid" id="scroll2">

						<h3 class="text-center">Now for a few stories about work that I have done:</h3>

						<section class="portfolio-grid">

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/FireEye-Featured.jpg" alt="FireEye-Featured" />
										</figure>
										<span class="st-overlay">&nbsp;</span>
										</a>
										<strong>fireeye</strong>
										<span>Bigger Needles, Smaller Haystacks</span>
									</div>

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/Apple-Featured.jpg" alt="Apple-Featured" />
										</figure>
										<span class="st-overlay">&nbsp;</span></a>
										<strong>apple</strong>
										<span>Helping Those Who Help Others</span>
									</div>

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/SuperQ-Featured-1.jpg" alt="SuperQ-Featured-1" />
										</figure>
										<span class="st-overlay">&nbsp;</span></a>
										<strong>vudu </strong>
										<span>Strategies For A Better Leisure Time</span>
									</div>

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/Ericsson-Featured.jpg" alt="Ericsson-Featured" />
										</figure>
										<span class="st-overlay">&nbsp;</span></a>
										<strong>paypal</strong>
										<span>Build Collaboration</span>
									</div>

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/GreenTable-Featured-1.jpg" alt="GreenTable-Featured-1" />
										</figure>
										<span class="st-overlay">&nbsp;</span></a>
										<strong>rune </strong>
										<span>Revenge of journalism</span>
									</div>

									<div class="portfolio-card">
										<a href="#">
										<figure>
											<img src="assets/images/Walmart-Featured.jpg" alt="Walmart-Featured" />
										</figure>
										<span class="st-overlay">&nbsp;</span></a>
										<strong>walmart.com</strong>
										<span>Relationships with Developers</span>
									</div>

						</section>

						<h3 class="text-center" id="scroll3">I have more&nbsp;as well so you can&nbsp;review the <span style="color: #3366ff;"><a href="http://storyagent.co/portfolio/" style="color: #3366ff;">full list of projects</a></span> to get even more perspective on me.</h3>

				</section>
				<!--StoryAgent Content Three-->
			</div>
			<!--StoryAgent Content Area-->

{% include footer.html %}

		</div>
		<!--Page Wrapper End-->

{% include script.html %}

	</body>
</html>