<!--StoryAgent Footer Section-->
<footer id="footer" >
  <div class="storyagent-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="footer-cont">
            <p>
              Thanks for visiting!  If you want to comment on anything or work together, I would love to hear from you!
            </p>
            <ul class="contact-btn">
              <li>
                <a href="#">Email</a>
              </li>
              <li>
                <a href="#">Phone</a>
              </li>
            </ul>
            <p>
              You can also find me somewhere online!
            </p>
            <ul class="social-link">
              <li>
                <a href="#"><i class="icon-ln">&nbsp;</i></a>
              </li>
              <li>
                <a href="#"><i class="icon-tw">&nbsp;</i></a>
              </li>
              <li>
                <a href="#"><i class="icon-fb">&nbsp;</i></a>
              </li>
              <li>
                <a href="#"><i class="icon-pint">&nbsp;</i></a>
              </li>
              <li>
                <a href="#"><i class="icon-rss">&nbsp;</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--Footer Section End-->
