<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Story Agent | Product design with stories in mind</title>
	<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Crete+Round:400,400i" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css" media="screen">
	<link rel="stylesheet" type="text/css" href="assets/css/global.css" media="screen">
	<link rel="stylesheet" type="text/css" href="assets/css/style.css" media="screen">
	<link rel="stylesheet" type="text/css" href="assets/css/responsive.css" media="screen">
	<!--[if lt IE 9]>
	<link rel="stylesheet" type="text/css" href="assets/css/ie8.css" media="screen">
	<![endif]-->
	<!--[if lt IE 8]>
	<link rel="stylesheet" type="text/css" href="assets/css/ie7.css" media="screen">
	<![endif]-->
	<!--[if lt IE 9]>
	<script src="assets/js/html5shiv.min.js"></script>

	<![endif]-->
	<script type="text/javascript" src="assets/js/jquery-1.10.2.min.js"></script>
</head>
