
			<!--StoryAgent Header Section-->
			<header id="header">
				<div class="storyagent-header">
					<div class="container">
						<a href="#" class="logo"><img src="/assets/images/StoryAgent-Logo-20160725-01.png"  alt="logo" /></a>
						<div class="header-nav">
							<button type="button" class="navbar-toggle-btn">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							</button>
							<nav class="navigation">
								<ul class="clearfix">
									<li>
										<a href="#">About</a>
									</li>
									<li>
										<a href="#">Portfolio<i class="glyphicon glyphicon-menu-down">&nbsp;</i></a>
										<ul class="sub-menu">
											<li>
												<a href="#">FireEye</a>
											</li>
											<li>
												<a href="#">Apple</a>
											</li>
											<li>
												<a href="#">Super Q</a>
											</li>
											<li>
												<a href="#">Ericsson</a>
											</li>
											<li>
												<a href="#">GreenTable</a>
											</li>
											<li>
												<a href="#">Walmart.com</a>
											</li>
										</ul>
									</li>
									<li>
										<a href="#">Blog</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</header>
			<!--StoryAgent Header Section-->
