/*
 Table Of Contents

 1.) Homepage
 2.) fireeye
 3.) About
 4.) Portfolio 
 ===============================================*/

/*
 1.) Homepage
 ----------------------------------------*/

.storyagent-banner img {
	width: 100%;
	height: auto;
	vertical-align: top;
	/*	height: 827px;*/
}
.storyagent-section-one {
	background: #144c7d;
	padding: 24px 0 40px;
}
.storyagent-section-one p {
	max-width: 980px;
	width: 100%;
	margin: 0 auto;
	line-height: 1.6;
}
.storyagent-section-one strong {
	font-size: 32px;
	line-height: 1.6em;
	color: #ffffff;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	display: block;
	text-align: center;
	padding-bottom: 10px;
}
.storyagent-section-two {
	background: url('../images/Homepage-MyMug-v4.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	padding: 67px 0 93px;
	-webkit-background-size: cover;
	background-size: cover;
}
.tabs {
	border: 1px solid #d9d9d9;
	background: #ffffff;
	border-radius: 5px;
}
.tabs .nav-tabs {
	background-color: #f4f4f4;
}
.tabs .nav-tabs > li {
	border-right: 1px solid #d9d9d9;
	width: 25%;
	text-align: center;
	margin: 0;
	border-bottom: 1px solid #d9d9d9;
}
.tabs .nav-tabs > li.active a {
	background-color: #ffffff;
	color: #333333 !important;
}
.nav-tabs > li > a, .tabs .nav-tabs > li.active a {
	font-size: 18px;
	line-height: 50px;
	padding: 5px;
	color: #666666;
	font-family: 'Dosis', sans-serif;
	font-weight: 700;
	display: block;
	padding: 0;
	border: 0;
	margin: 0;
}
.tab-content p {
	font-size: 14px;
	color: #000000;
	line-height: 2;
	padding-bottom: 5px;
}
.tab-pane {
	padding: 74px 59px 62px;
}
.storyagent-section-three {
	padding: 26px 0;
}
.storyagent-section-three h3 {
	margin-bottom: 40px;
}
.storyagent-stories-block a {
	display: block;
	margin-bottom: 12px;
	-webkit-transition: all 0.5s ease ;
	-moz-transition: all 0.5s ease ;
	-ms-transition: all 0.5s ease ;
	-o-transition: all 0.5s ease ;
	transition: all 0.5s ease ;
	position: relative;
}
.st-overlay{
	content: "";
	width:100%;
	height:100%;
	left:0;
	top:0;
	background: rgba(12, 113, 195, 0.3);
	position: absolute;
	opacity:0;
	-webkit-transition: all 0.3s ease ;
	-moz-transition: all 0.3s ease ;
	-ms-transition: all 0.3s ease ;
	-o-transition: all 0.3s ease ;
	transition: all 0.3s ease ;
}
.storyagent-stories-block a:hover .st-overlay{
	opacity:1;
}
.st-overlay:before{
	content: "";
	left: 50%;
    margin: -14px 0 0 -14px;
    position: absolute;
    top: 60%;
    transition: all 0.4s ease 0s;
    background: url('../images/search.png') no-repeat;
    width:40px;
    height: 40px;
    opacity:0;
}
.storyagent-stories-block a:hover .st-overlay:before{
	top:50%;
	opacity:1;
}
.storyagent-stories-block figure img {
	width: 100%;
	/*	height: 224px;*/
}
.storyagent-stories-block strong {
	display: block;
	font-size: 12px;
	line-height: 1.2;
	color: #666666;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2px;
}
.storyagent-stories-block span {
	display: block;
	font-family: 'Crete Round', serif;
}
.storyagent-stories-block strong small {
	font-size: 12px;
	font-style: italic;
	font-weight: 500;
	text-transform: lowercase;
}
.storyagent-stories-block {
	margin-bottom: 30px;
}
.social-link li a {
	position: relative;
	display: block;
}
.social-link li a:hover:before {
	content: "";
	top: 3px;
	width: 92%;
	height: 90%;
	left: 2px;
	background: rgba(0,0,0,0.2);
	position: absolute;
}
.section-scroll-web ul{
	background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	display: block;
	padding:10px;
	position: fixed;
	right: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 40px;
	z-index: 99999;
	list-style-type: none;
}
.section-scroll-web ul li {
	padding: 7px;
}
.section-scroll-web ul li a {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 7px;
	display: block;
	height: 7px;
	margin-right: 10px;
	text-indent: -9999px;
	width: 7px;
}
.section-scroll-web ul li.active a{
	background-color: hsl(0, 0%, 100%) !important;
}


/*
 2.) fire-eye
 ----------------------------------------*/

.storyagent-banner-fire{
	background: #fff89e;
	padding:52px 0 33px;
}
.storyagent-banner-fire h1{
	width:80%;
	margin: 47px 0 0;
}
.fireeye-figure{
	margin: 0 0 30px 0;
}
.fireeye-sec-one{
	background: #144c7d;
	padding: 21px 0 5px;
}
.fireeye-sec-one h4{
	margin-bottom: 5px;
}
.fireeye-sec-one p{
	line-height: 1.3;
}
.inner-char-block{
	margin: 0 0 10px 0;
}
.fireeye-sec-two{
	padding: 35px 0 20px;
}
.fireeye-sec-top{
	margin: 0 0 28px;
}
.fireeye-sec-top p{
	font-size: 20px;
	color:#666666;
	font-weight: 500;
	line-height: 1.6;
	margin-bottom: 17px;
}
.fireeye-concept .fireeye-cont {
	margin-top: 8px;
}
.fireeye-concept figure{
	margin-bottom: 82px;
} 
.fireeye-cont{
	margin-bottom: 30px;
}
.fireeye-cont h4{
	margin: 0 0 20px;
}
.fireeye-cont h4 strong{
	color:#333333;
}
.fireeye-cont p{
	font-size: 16px;
	color:#666666;
	line-height: 1.8;
}
.fireeye-sec-three{
	background: #686868;
	padding: 20px 0 10px;
	margin-bottom: 25px;
}
.fireeye-sec-three p{
	color:#ffffff;
	font-size: 16px;
	font-weight: 500;
}
.fireeye-sec-three h4{
	margin: 0 0 10px 0;
}
.fireeye-sec-three figure{
	margin: 15px 0 0;
}
.fireeye-sec-four video{
	width:100%;
}
.fireeye-sec-five{
	background-color: #144c7d;
	margin: 16px 0 15px;
	padding: 20px 0;
}
.fireeye-sec-five h3 strong{
	font-size: 22px;
	color:#ffffff;
}
.fireeye-sec-five p{
	font-size: 18px;
	line-height: 1.5;
}
.atomic .fireeye-cont{
	margin-bottom: 15px;
}
.fireeye-sec-six {
	padding: 50px 0;
}
.fireeye-sec-six h3{
	margin: 0 0 45px 0;
}
.fireeye-sec-six .pager a{
	font-size: 18px;
	color:#1e73be;
	line-height: 1.2;
	border:0;
	background: transparent;
	font-weight: 400;
}
.fireeye-sec-six .pager a:hover{
	background: transparent;
}


/*
 3.) About
 ----------------------------------------*/


.storyagent-about-banner{
	position: relative;
}
.storyagent-about-banner img {
	width:100%;
}
.about-banner-cont h1{
	color:#333333;
	font-size: 60px;
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: 150px;
}
.about-banner-cont{
	position: absolute;
	top:12%;
	margin: 0 auto;
	left:0;
	right:0;
}
.inner-about-banner{
	background: rgba(255, 255, 255, 0.7);
	padding: 10px 15px;
	margin-bottom: 350px;
}
.inner-about-banner-02{
	background: rgba(255, 255, 255, 0.9);
	padding: 10px 12px;
}
.storyagent-about-banner p{
	color:#666666;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	margin-bottom: 0;
}
.storyagent-venn-sec {
    padding: 73px 0;
}
.storyagent-venn-sec p{
	font-size: 16px;
	color:#666666;
	line-height: 1.6;
	width:94%;
}
.storyagent-ideal-process{
	padding:44px 0;
}
.ideal-process-block ul{
	padding: 0;
	list-style-type: none;
}
.storyagent-ideal-process p,
.ideal-process-block ul li,
.favorite-tools ul li,
.ideal-process-block ul li strong{
	font-size: 14px;
	color:#666666;
	line-height: 1.5;
	font-weight: 500;
}
.ideal-process-block ul li,
.favorite-tools ul li{
	margin: 0 0 5px 0;
}
.storyagent-ideal-process p{
	margin: 0 0 40px 0;
}
.ideal-process-block ul li strong{
	display: inline-block;
	margin-right: 4px;
}
.favorite-tools ul{
	padding: 0 0 0 15px;
}
.resume-block strong{
	color:#333333;
	font-size: 26px;
	font-weight: 500;
	line-height: 1.2;
	display: block;
	text-align:right;
	margin-right: 30px;
	vertical-align: middle;
}
.resume-btn{
	font-size: 20px;
	color:#2ea3f2;
	font-weight: 500;
	background: transparent;
	border:2px solid #2ea3f2;
	border-radius:3px;
	padding: 8px 20px 8px;
	display: inline-block;
	vertical-align: middle;
	transition: all 0.2s ease 0s;
	position: relative;
}
.resume-btn:hover{
	padding: 8px 40px 8px 20px;
}
.resume-btn::before {
    background: rgba(0, 0, 0, 0) url("../images/next-blue.png") no-repeat scroll right center;
    content: "";
    height: 15px;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.2s ease 0s;
    width: 10px;
    opacity:0;
}
.resume-btn:hover{
	color:#2ea3f2;
	background: rgba(0, 0, 0, 0.05) none repeat scroll 0 0;
	border:2px solid transparent;
}
.resume-btn:hover::before{
	opacity:1;
}
.storyagent-map img{
	width:100%;
}
.resume-block {
	padding:155px 0 30px; 	
}
.storyagent-map{
	margin:0 0 0;
	position: relative;
}
.map-cont{
	width:338px;
	padding: 10px;
	position: absolute;
	right:16px;
	bottom:130px;
	background: #ffffff;
	border:1px dashed hsl(207, 88%, 41%);
}
.map-cont p{
	font-size: 18px;
	font-weight: 500;
	color:hsl(0, 0%, 20%);
	line-height:1.1;
}


/*
 4.) Portfolio
 ----------------------------------------*/

	
.storyagent-portfolio-one{
	padding:160px 0 0;
}
.storyagent-portfolio-one h2{
	font-size: 60px;
	color:#333333;
	font-weight: 500;
	line-height:1.2;
	text-transform: uppercase;
	font-family: "Dosis",Helvetica,Arial,Lucida,sans-serif;
	margin-bottom: 15px;
}
.storyagent-portfolio-one p,
.storyagent-portfolio-two p{
	font-size:18px;
	color:#666666;
	font-weight: 500;
	line-height:1.6;
	margin-bottom: 38px;
}
.storyagent-portfolio-two{
	padding: 55px 0;
}
.storyagent-portfolio-two p{
	margin-bottom: 50px;
}
.portfolio-sidebar{
	margin: 0 0 20px 0;
}
.portfolio-sidebar span{
	font-size: 14px;
	color:#666666;
	font-weight: 500;
	line-height:1.5;
	display: block;
}
.portfolio-sidebar figure{
	margin-bottom: 20px;
}
.portfolio-fig a{
	display: block;
	position: relative;
	-webkit-transition: all 0.5s ease ;
	-moz-transition: all 0.5s ease ;
	-ms-transition: all 0.5s ease ;
	-o-transition: all 0.5s ease ;
	transition: all 0.5s ease ;
}
.overlay-02{
	background: rgba(20, 75, 123, 0.3) none repeat scroll 0 0;
	content: "";
	width:100%;
	height:100%;
	left:0;
	top:0;
	position: absolute;
	-webkit-transition: all 0.3s ease ;
	-moz-transition: all 0.3s ease ;
	-ms-transition: all 0.3s ease ;
	-o-transition: all 0.3s ease ;
	transition: all 0.3s ease ;	
	opacity:0;
}
.portfolio-fig a:hover .overlay-02{
	opacity:1;
}
.overlay-02:before{
	content: "";
	left: 50%;
    margin: -14px 0 0 -14px;
    position: absolute;
    top: 60%;
    transition: all 0.4s ease 0s;
    background: url('../images/search-02.png') no-repeat;
    width:30px;
    height: 30px;
    opacity:0;
}
.portfolio-fig a:hover .overlay-02:before{
	top:50%;
	opacity:1;
}








/*body{
 background: url('../images/4.png') no-repeat;
 background-repeat: no-repeat;
}
#wrapper{
 opacity:0.7;
}



.storyagent-stories-block figure img{
	height: 215px;
}*/




